﻿@model Dormitory.Entity.Data.Follow
<div class="modal fade" id="modal-add-edit" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:dodgerblue">
                <h5 class="modal-title" id="addContactLabel" style="text-align:center"> Create New Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <form id="formFollow" role="form">
                <div class="modal-body" id="ModalFollow">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info"><i class="mdi mdi-shield-outline text-white"></i></span>
                            </div>
                            <input type="text" id="txtkeyId" asp-for="KeyId" class="form-control" placeholder="keyId" aria-label="KeyId" aria-describedby="colored-addon1">
                            <span asp-validation-for="KeyId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info"><i class="mdi mdi-shield-outline text-white"></i></span>
                            </div>
                            <select id="txtIdError" asp-for="Iderror" class="form-control" asp-items="ViewBag.Iderror">
                                <option value="" disabled selected>Choose Error</option>
                            </select>
                        </div>
                    </div>
                         
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info"><i class="mdi mdi-shield-outline text-white"></i></span>
                            </div>
                            <input type="text" id="txtIdStudent" asp-for="Idstudent" class="form-control" placeholder="ID Student" aria-label="IDStudent" aria-describedby="colored-addon1">
                            <span asp-validation-for="Idstudent" class="text-danger"></span>
                        </div>
                    </div>
                 

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
