﻿@model Dormitory.Entity.Data.Room
<div class="modal fade" id="modal-add-edit" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:dodgerblue">
                <h5 class="modal-title" id="addContactLabel" style="text-align:center"> Create New Room </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <form id="formRoom" role="form">
                <div class="modal-body" id="ModalRoom">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info"><i class="mdi mdi-shield-outline text-white"></i></span>
                            </div>
                            <input type="text" id="txtkeyId" asp-for="KeyId" class="form-control" placeholder="keyId" aria-label="Username" aria-describedby="colored-addon1">
                            <span asp-validation-for="KeyId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info"><i class="mdi mdi-shield-outline text-white"></i></span>
                            </div>
                            <select id="txtZone" asp-for="Idzone" class="form-control" asp-items="ViewBag.Idzone">
                                <option value="" disabled selected>Choose Zone</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info"><i class="mdi mdi-shield-outline text-white"></i></span>
                            </div>
                            <select id="txtCategory" asp-for="Idcategory" class="form-control" asp-items="ViewBag.Idcategory">
                                <option value="" disabled selected>Choose Category</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info"><i class="mdi mdi-shield-outline text-white"></i></span>
                            </div>
                            <select id="txtEmployee" asp-for="Idemployee" class="form-control" asp-items="ViewBag.Idemployee">
                                <option value="" disabled selected>Choose Employee</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info"><i class="mdi mdi-shield-outline text-white"></i></span>
                            </div>
                            <input type="text" id="txtName" asp-for="Name" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="colored-addon1">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group" hidden>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info"><i class="mdi mdi-shield-outline text-white"></i></span>
                            </div>
                            <input type="text" asp-for="Status" class="form-control" value="0" placeholder="Status" aria-label="Username" aria-describedby="colored-addon1">
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                    </div>
                </div>
            </form>  
        </div>
    </div>
 </div>
<script src="~/app/controllers/diagram/index.js"></script>
  