﻿@model Dormitory.Entity.Data.Room
<div class="modal fade" id="modal-detail" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:dodgerblue">
                <h5 class="modal-title" id="addContactLabel" style="text-align:center"> List Student </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <table class="table table-striped table-bordered table-fix-header">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Class</th>
                                        <th>Date Of Birth</th>
                                        <th>Faculty</th>
                                        <th>Email</th>
                                        
                                    </tr>
                                </thead>
                                <tbody id="tbl-content"></tbody>
                            </table>
                            <!--Pagination-->
                           
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{ID}}</td>
        <td>{{Name}}</td>
        <td>{{Class}}</td>
        <td>{{DOB}}</td>
        <td>{{Faculty}}</td>
        <td>{{Email}}</td>

    </tr>
</script>
