﻿@model IEnumerable<Dormitory.Entity.Data.Room>

@section Scripts{
    <script src="~/app/controllers/diagram/index.js"></script>
    <script>
        var diagram = new diagramController();
        diagram.initialize();
    </script>
}
<div class="content-wrapper">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb bg-inv">
            <li class="breadcrumb-item"><img src="~/images/Icon/home.png" style="width:20px; height:20px;" /></li>
            <li class="breadcrumb-item active" aria-current="page">Diagram of Room</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class=row>
                        <div class="col-md-2">
                            <img type="button" id="createRoom" src="~/images/Icon/paper.png" style="width:40px;height:40px" />Create
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <select class="form-control" id="ddlCategorySearch">
                                <option value="">Choose Category</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="ddlStatus">
                                <option value="">Choose Status</option>
                            </select>
                        </div>
                        <div class="col-md-1"> <button class="btn btn-primary" id="Search">Go</button></div>

                    </div>
                    <br />
                    <nav>
                        <ol class="breadcrumb bg-inverse-primary">
                            <li><img src="~/images/Icon/female.png" /> Zone A -</li>
                            <li> Total Room : <strong id="TotalRoom"></strong><img src="~/images/Icon/home.png" style="width:20px;height:20px; margin-left:5px" /> -</li>
                            <li> Total beds : <strong id="SumBed"></strong> <img src="~/images/Icon/bed.png" style="width:20px;height:20px; margin-left:5px" /> -</li>
                            <li> Empty beds : <strong id="SumEmptyBed"></strong> <img src="~/images/Icon/bed.png" style="width:20px;height:20px; margin-left:5px" /> -</li>
                            <li> Total students : <strong id="SumStudent"></strong> <img src="~/images/Icon/user.png" style="width:20px;height:20px; margin-left:5px" />-</li>
                            <li> Can Order : <strong id="SumReservation"></strong> <img src="~/images/Icon/bed.png" style="width:20px;height:20px; margin-left:5px" /> </li>
                        </ol>

                    </nav>
                    <br />
                    @*<input type="text" id="txtKeyword" class="form-control" placeholder="Gõ từ khóa...">*@

                    <div class="row">
                        <div class="col-12">
                            <div class="row portfolio-grid" id="card-content">
                            </div>
                        </div>
                    </div>
                    <nav>
                        <ol class="breadcrumb bg-inverse-primary">
                            <li><img src="~/images/Icon/male.png" />Zone B -</li>
                            <li> Total Room : <strong id="TotalRoom"></strong><img src="~/images/Icon/home.png" style="width:20px;height:20px; margin-left:5px" /> -</li>
                            <li> Total beds : <strong id="SumBed2"></strong> <img src="~/images/Icon/bed.png" style="width:20px;height:20px; margin-left:5px" /> -</li>
                            <li> Empty beds : <strong id="SumEmptyBed2"></strong> <img src="~/images/Icon/bed.png" style="width:20px;height:20px; margin-left:5px" /> -</li>
                            <li> Total students : <strong id="SumStudent2"></strong> <img src="~/images/Icon/user.png" style="width:20px;height:20px; margin-left:5px" />-</li>
                            <li> Can Order : <strong id="SumReservation2"></strong> <img src="~/images/Icon/bed.png" style="width:20px;height:20px; margin-left:5px" /> </li>

                        </ol>

                    </nav>
                    <div class="row">
                        <div class="col-12">
                            <div class="row portfolio-grid" id="card-content-b">
                            </div>
                        </div>
                    </div>
                    <!--Pagination-->
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                <select id="ddlShowPage">
                                    <option value="24" selected="selected">24</option>
                                    <option value="48">48</option>
                                    <option value="72">72</option>
                                    <option value="96">96</option>
                                </select>
                                <span class="item-per-page">
                                    records/page.
                                </span>
                                Total of record: <strong id="lblTotalRecords"></strong>
                            </div>
                        </div><div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                                <ul id="paginationUL"></ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script id="card-room" type="x-tmpl-mustache">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
        <figure class="effect-text-in">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"><h4>{{Name}}</h4></div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3"><img src="images/Icon/home.png" alt="Home" /></div>
                </div>

                <div class="row">
                    <i>Total beds : {{TotalBed}}</i> <img src="images/Icon/bed.png" style="width:20px;height:20px; margin-left:10px" />
                </div>
                <div class="row">
                    <i>Empty beds : {{EmptyBed}} </i> <img src="images/Icon/bed.png" style="width:20px;height:20px; margin-left:10px" />
                </div>
                <div class="row">
                    <i>Total Students : {{Student}} </i><img src="images/Icon/user.png" style="width:20px;height:20px; margin-left:10px" />
                </div>
                <div class="row">
                    <i>Can order : <strong id="canOrder" value="{{Reservation}}">{{Reservation}}</strong> </i><img src="images/Icon/bed.png" style="width:20px;height:20px; margin-left:10px" />
                </div>

            </div>
            
            <div class="row" style="padding-top:10px">
                <button style="display:block; margin-left:35px" class="btn reversation" data-id="{{KeyId}}">Order</button>
                @*<button class="btn btn-info editRoom" data-id="{{KeyId}}">Edit</button>*@
                <button class="btn btn-info detailRoom" data-id="{{KeyId}}">Detail</button>
                <button class="btn btn-danger delRoom" data-id="{{KeyId}}">Delete</button>

            </div>         
        </figure>
    </div>
</script>

@await Html.PartialAsync("CreatePartialModal.cshtml")
@await Html.PartialAsync("DetailRoom.cshtml")


@section Styles{
    <link href="~/css/myStyle.css" rel="stylesheet" />
}

