﻿<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Breeze Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../node_modules/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../node_modules/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row w-100">
                    <div class="col-lg-8 mx-auto">
                        <div class="row">
                            <div class="col-lg-6 bg-white">
                                <div class="auth-form-light text-left p-5">
                                    <h2>Login</h2>
                                    <h4 class="font-weight-light">Hello! let's get started</h4>
                                    <form id="frmLogin">
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Username</label>
                                            <input type="text" class="form-control" id="txtUserName" name="userName" aria-describedby="emailHelp" placeholder="Username">
                                            <i class="mdi mdi-account"></i>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input type="password" class="form-control" id="txtPassword" name="password" required="" placeholder="Password">
                                            <i class="mdi mdi-eye"></i>
                                        </div>
                                        <div class="mt-5">
                                            <a class="btn btn-block btn-success btn-lg" href="#" id="btnLogin">Login</a>
                                        </div>
                                        <div class="mt-3 text-center">
                                            <a href="#" class="auth-link text-black">Forgot password?</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 login-half-bg d-flex flex-row">
                                <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2018  All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/localization/messages_vi.js"></script>
    <script src="~/app/controllers/shared/dormitory.js"></script>
    <script src="~/app/controllers/login/index.js"></script>
    <script>
        login = new loginController();
        login.initializer();
    </script>

</body>
</html>

