﻿@model Dormitory.Entity.Data.Student


<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:dodgerblue">
                <h5 class="modal-title" id="addContactLabel" style="text-align:center"> Create New Student  </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <form class="form-horizontal" role="form" id="formStudent" method="post" enctype="multipart/form-data">
                <div class="modal-body" id="ModalStudent">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <h4>Personal Information :</h4>
                    </div>
                    <div class="form-group row">
                        <label for="idStudent" class="col-sm-2 col-form-label">ID Student *</label>
                        <div class="col-sm-4">
                            <input type="text" asp-for="IdStudent" class="form-control" id="idStudent" />
                            <span asp-validation-for="IdStudent" class="text-danger"></span>
                        </div>
                        <label for="name" class="col-sm-2 col-form-label">Name *</label>
                        <div class="col-sm-4">
                            <input type="text" asp-for="Name" class="form-control" id="name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="gender" class="col-sm-2 col-form-label">Gender *</label>
                        <div class="col-sm-2">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" asp-for="Gender" value="true" class="form-check-input" name="optradio1">Male
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" asp-for="Gender" value="false" class="form-check-input" name="optradio1">Female
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <label for="dob" class="col-sm-2 col-form-label">Date Of Birth</label>
                        <div class="col-sm-4">
                            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                <input type="text" class="form-control" asp-for="DOB">
                                <span asp-validation-for="DOB" class="text-danger"></span>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="faculty" class="col-sm-2 col-form-label">Faculty</label>
                        <div class="col-sm-4">
                            <input type="text" asp-for="Faculty" class="form-control" id="faculty" />
                            <span asp-validation-for="Faculty" class="text-danger"></span>
                        </div>
                        <label for="class" class="col-sm-2 col-form-label">Class</label>
                        <div class="col-sm-4">
                            <input type="text" asp-for="Class" class="form-control" id="class" />
                            <span asp-validation-for="Class" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-sm-2 col-form-label">Phone Number *</label>
                        <div class="col-sm-4">
                            <input type="text" asp-for="PhoneNumber" class="form-control" id="phone" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <label for="address" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-4">
                            <input type="text" asp-for="Address" class="form-control" id="address" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Email *</label>
                        <div class="col-sm-4">
                            <input type="text" asp-for="Email" class="form-control" id="email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <label for="idCard" class="col-sm-2 col-form-label">Identity Card *</label>
                        <div class="col-sm-4">
                            <input type="text" asp-for="Idcard" class="form-control" id="idCard" />
                            <span asp-validation-for="Idcard" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <h4>Contact Information</h4>
                    </div>
                    <div class="form-group row">
                        <label for="idRoom" class="col-sm-2 col-form-label">Room</label>
                        <div class="col-sm-4">
                            <select asp-for="Idroom" class="form-control" asp-items="ViewBag.Idroom">
                                <option value="" disabled selected>Choose Room</option>
                            </select>

                        </div>
                        <label for="teacher" class="col-sm-2 col-form-label">Teacher</label>
                        <div class="col-sm-4">
                            <input type="text" asp-for="Teacher" class="form-control" id="teacher" />
                            <span asp-validation-for="Teacher" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pParent" class="col-sm-2 col-form-label">Phone Number Of Parents *</label>
                        <div class="col-sm-4">
                            <input type="text" asp-for="PhoneParents" class="form-control" id="pParent" />
                            <span asp-validation-for="PhoneParents" class="text-danger"></span>
                        </div>
                        <label for="aParent" class="col-sm-2 col-form-label">Address Of Parents</label>
                        <div class="col-sm-4">
                            <input type="text" asp-for="AddressOfParents" class="form-control" id="class" />
                            <span asp-validation-for="AddressOfParents" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="policy" class="col-sm-2 col-form-label">Policty Area</label>
                        <div class="col-sm-4">
                            <input type="text" asp-for="PolicyArea" class="form-control" id="class" />
                            <span asp-validation-for="PolicyArea" class="text-danger"></span>
                        </div>
                    
                        <label for="class" class="col-sm-2 col-form-label">Image</label>
                        <div class="col-sm-4">
                            <input type="file" class="dropify" data-max-file-size="1mb" name="image" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#formStudent");
    });
</script>
@section Scripts{

    <script src="../../node_modules/icheck/icheck.min.js"></script>
    <script src="../../node_modules/typeahead.js/dist/typeahead.bundle.min.js"></script>
    <script src="../../node_modules/select2/dist/js/select2.min.js"></script>

}