﻿@model IEnumerable<Dormitory.Entity.Data.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="row">

    <div class="col">
        <div class="row">
            <br/><br/><br/>

        </div>
        <img type="button" id="createSinhVien" src="~/images/Icon/create.png" style="width:40px; height:40px; padding-bottom: 8px; padding-left:5px">
    </div>
    <div class="col">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb bg-inv">
                <li class="breadcrumb-item"><img src="~/images/Icon/home.png" style="width:20px; height:20px;" /></li>
                <li class="breadcrumb-item active" aria-current="page">Student</li>
            </ol>
        </nav>
        <div style="width:100% ; margin :auto">
            <table id="TableSinhVien" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID Students</th>
                        <th>Name </th>
                        <th>Class</th>
                        <th>Phone Number</th>
                        <th>Faculty</th>
                        <th>Email</th>
                        <th>ID Card</th>
                        <th>Action</th>


                    </tr>
                </thead>
            </table>
        </div>
    </div>


</div>
<div id="modal-placeholder-student" data-url="@Url.Action("Create")"></div>
@section Styles{

    <link href="~/css/myStyle.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <!--FANCY BOX-->
    <link rel="stylesheet" type="text/css" href="~/fancybox/jquery.fancybox.min.css" media="screen " />
}

@section Scripts{
   
    <script src="~/Scripts/Sinhvien/sinhvienDatatable.js"></script>
    <script src="~/Scripts/Sinhvien/RegisterEvent.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
    <!-- Add mousewheel plugin (this is optional) -->
    <!---->

}
