﻿#createSinhVien
{
    width: 40px;
    height: 40px;
    padding-bottom: 8px;
    padding-left: 5px
}
 #createSinhVien:hover {
        cursor: cell;
    }
 .detailStudent:hover{
     cursor : pointer
 }
.deleteStudent:hover {
    cursor: pointer
}

.sidebar .nav .nav-item .collapse .nav.sub-menu .nav-item .nav.sub-menu .nav-item {
    color: #838eab;
    padding: 0.75rem 2.25rem;
    font-size: 0.875rem;
    line-height: 1;
    height: auto;
    position: relative;
    background-color: red;
}
.effect-text-in {
    width: 300px;
    height: 200px;
    background-color: red;
}
.portfolio-grid figure.effect-text-in i {
    margin-left:40px
}
/*.portfolio-grid figure.effect-text-in:hover i {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -40px, 0);
}*/
.portfolio-grid figure.effect-text-in:hover img {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, 0px, 0);
}
.portfolio-grid figure.effect-text-in {
    border-radius: .25rem;
}

    /*.portfolio-grid figure.effect-text-in h6,
    .portfolio-grid figure.effect-text-in h4 {
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
    }*/

    .portfolio-grid figure.effect-text-in b {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
