﻿@model List<Dormitory.Entity.Data.Function>

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index">
                <i class="mdi mdi-compass-outline menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        @foreach (var item in Model.Where(x => string.IsNullOrEmpty(x.ParentId)))
        {
            <li class="nav-item">

                <a class="nav-link" data-toggle="collapse" href="#@item.KeyId" aria-expanded="false" aria-controls="page-layouts">
                    <i class="mdi mdi-arrow-expand-all menu-icon"></i>
                    <span class="menu-title"> @item.Name  </span>
                    <i class="menu-arrow"></i>
                </a>
                @if (Model.Any(x => x.ParentId == item.KeyId))
                {
                    <div class="collapse" id="@item.KeyId">
                        <ul class="nav flex-column sub-menu">
                            @foreach (var jitem in Model.Where(x => x.ParentId == item.KeyId))
                            {
                                @if (Model.Any(x => x.ParentId == jitem.KeyId))
                                {
                                    <li class="nav-item">
                                        <a><i class="fas @jitem.IconCss big-icon"></i> @jitem.Name <span class="fas fa-chevron-down"></span></a>
                                        <ul class="nav flex-column sub-menu">
                                            @foreach (var zjitem in Model.Where(x => x.ParentId == jitem.KeyId))
                                            {
                                                <li class="nav-item">
                                                    <a class="=nav-link" href="@zjitem.URL">
                                                        <i class="mdi mdi-compass-outline menu-icon"></i>
                                                        <span class="menu-title">@zjitem.Name</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li><a href="@jitem.URL">@jitem.Name</a></li>
                                }

                            }

                        </ul>
                    </div>
                }

            </li>
        }
        <li class="nav-item">
            <a class="nav-link" asp-controller="Follows" asp-action="Index">
                <i class="mdi mdi-compass-outline menu-icon"></i>
                <span class="menu-title">Follow Student</span>
            </a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" asp-controller="Contracts" asp-action="Index">
                <i class="mdi mdi-compass-outline menu-icon"></i>
                <span class="menu-title">Contract Student</span>
            </a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link" asp-controller="Reports" asp-action="Index">
                <i class="mdi mdi-compass-outline menu-icon"></i>
                <span class="menu-title">Report</span>
            </a>
        </li>
    </ul>

</nav>
@section Styles{ 
<link href="~/css/myStyle.css" rel="stylesheet" />
}