﻿@using Microsoft.AspNetCore.Identity
@using Dormitory.Entity.Data
@using DormitoryManagement.Extensions
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
        <img src="images/faces-clipart/pic-1.png">
        <span class="profile-name">@User.GetSpecificClaim("FullName")</span>
    </a>
    <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
        <a class="dropdown-item" href="#">
            <i class="mdi mdi-cached mr-2 text-success"></i>
            Activity Log
        </a>
        <a class="dropdown-item">
            <form asp-controller="Accounts" asp-action="LogOut" method="post" id="logOutForm">
                <button type="submit">Sign Out</button>
                @*<i class="mdi mdi-logout mr-2 text-primary"></i>
                Signout*@
            </form>
           
        </a>
    </div>
