﻿@model Dormitory.Entity.Data.Invoice
<div class="modal fade" id="modal-add-edit" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:dodgerblue">
                <h5 class="modal-title" id="addContactLabel" style="text-align:center"> Create New Invoice </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <form id="formInvoice" role="form">
                <div class="modal-body" id="ModalInvoice">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info"><i class="mdi mdi-shield-outline text-white"></i></span>
                            </div>
                            <input type="text" id="txtkeyId" asp-for="KeyId" class="form-control" placeholder="KeyId" aria-label="KeyId" aria-describedby="colored-addon1">
                            <span asp-validation-for="KeyId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info"><i class="mdi mdi-shield-outline text-white"></i></span>
                            </div>
                            <input type="text" id="txtName" asp-for="Name" class="form-control" placeholder="Name" aria-label="NameInvoice" aria-describedby="colored-addon1">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info"><i class="mdi mdi-shield-outline text-white"></i></span>
                            </div>
                            <select id="txtRoom" asp-for="Idroom" class="form-control" asp-items="ViewBag.Idroom">
                                <option value="" disabled selected>Choose Room</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info"><i class="mdi mdi-shield-outline text-white"></i></span>
                            </div>
                            <select id="txtEmployee" asp-for="Idemployee" class="form-control" asp-items="ViewBag.Idemployee">
                                <option value="" disabled selected>Choose Employee</option>
                            </select>
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <table class="table table-striped table-bordered table-fix-header">
                            <thead>
                                <tr>
                                    <th width="20%">Name Service</th>
                                    <th width="10%">Quantity</th>                                    
                                </tr>
                            </thead>
                            <tbody id="InvoiceDetail-tbl-content"></tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <button class="btn btn-xs btn-success" id="btnAddDetail" type="button">Add</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                    </div>
                </div>
</form>
        </div>
    </div>
</div>
<script id="InvoiceDetail-table-template" type="x-tmpl-mustache">
    <tr data-id="{{KeyId}}">
        <td>{{{NameService}}}</td>
        <td><input type="number" class="txtQuantity form-control" value="{{Quantity}}" /></td>
    </tr>
</script>

