﻿
<!-- Invoice Zone-->
<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:dodgerblue">
                <h5 class="modal-title" id="addContactLabel" style="text-align:center"> Detail of Invoice </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div class="card px-2">
                <div class="card-body">
                    <form id="formEdit" role="form">
                        <div class="container-fluid">
                            <h3 class="text-right my-5">Invoice&nbsp;&nbsp; <strong id="InvoiceName"></strong></h3>
                            <hr>
                        </div>
                        <div class="container-fluid d-flex justify-content-between">
                            <div class="col-lg-3 pl-0">
                                <p class="mt-5 mb-2"><b>Dormintory Management </b></p>
                                <p>273,<br>An Duong Vuong, <br> F3, District 5, Ho Chi Minh City.</p>
                            </div>
                            <div class="col-lg-3 pr-0">
                                <p class="mt-5 mb-2 text-right"><b>Invoice to</b></p>
                                <p class="text-right"><br> Room -<strong id="RoomName"></strong> </p>
                            </div>
                        </div>
                        <div class="container-fluid d-flex justify-content-between">
                            <div class="col-lg-3 pl-0">
                                <p class="mb-0 mt-5">Invoice Date : <i id="DateInvoice"></i></p>
                                
                            </div>
                        </div>
                        <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                            <div class="table-responsive w-100">
                                <table class="table">
                                    <thead>

                                        <tr class="bg-dark text-white">
                                            <th>#</th>
                                            <th>Description</th>
                                            <th class="text-right">Quantity</th>
                                            <th class="text-right">Unit cost</th>
                                            <th class="text-right">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbl-detail"></tbody>

                                </table>
                            </div>
                        </div>
                        <div class="container-fluid mt-5 w-100">
                            <p class="text-right mb-2">Sub - Total amount : <strong id="SubMoney"></strong></p>
                            <p class="text-right">vat (10%) : <strong id="VAT"></strong></p>
                            <h4 class="text-right mb-5">Total :<strong id="SumMoney"></strong></h4>
                            <hr>
                        </div>
                        <div class="container-fluid w-100">
                            <a href="#" class="btn btn-primary float-right mt-4 ml-2"><i class="mdi mdi-printer mr-1"></i>Print</a>
                            <a href="#" class="btn btn-success float-right mt-4"><i class="mdi mdi-telegram mr-1"></i>Send Invoice</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-detail" type="x-tmpl-mustache">
    <tr class="text-right">
        <td class="text-left">{{Stt}}</td>
        <td class="text-left">{{Name}}</td>
        <td>{{Number}}</td>
        <td>{{UnitCost}}</td>
        <td>{{Total}}</td>
       

    </tr>
</script>
<script src="~/app/controllers/invoice/index.js"></script>

