﻿@model IEnumerable<Dormitory.Entity.Data.Invoice>

@{
    ViewData["Title"] = "Index";
}
@section Styles{
}
@section Scripts{

    <script src="~/app/controllers/invoice/index.js"></script>
    <script>
        var invoice = new invoiceController();
        invoice.initialize();</script>
}
    <div class="container">

        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb bg-inv">
                <li class="breadcrumb-item"><img src="~/images/Icon/home.png" style="width:20px; height:20px;" /></li>
                <li class="breadcrumb-item active" aria-current="page">Invoices</li>
            </ol>
        </nav>
        <div class="row" style="padding-bottom:10px">

            <div class="col-sm-1">
                <button id="btnCreate" class="btn btn-success"><i class="fa fa-plus"></i> Create New</button>
            </div>
            <div class="col-sm-9"></div>
            <div class="col-sm-2">
                <input type="text" id="txtKeyword" class="form-control" placeholder="Search...">
            </div>

        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table class="table table-striped table-bordered table-fix-header">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Room</th>
                                    <th>Employee</th>
                                    <th>Total money</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbl-content"></tbody>
                        </table>
                        <!--Pagination-->
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                    <select id="ddlShowPage">
                                        <option value="10" selected="selected">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                    </select>
                                    <span class="item-per-page">
                                        records/page.
                                    </span>
                                    Total record : <strong id="lblTotalRecords"></strong>
                                </div>
                            </div><div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                                    <ul id="paginationUL"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @await Html.PartialAsync("AddPartialModal.cshtml")
            @await Html.PartialAsync("EditPartialModal.cshtml")
        </div>
       
    </div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{Date}}</td>
        <td>{{Name}}</td>
        <td>{{Room}}</td>
        <td>{{Employee}}</td>
        <td>{{TotalMoney}}</td>
        <td>{{{Status}}}</td>
        <td scope="row">
            <a class="btn btn-md btn-default btn-detail" data-id="{{KeyId}}"><i class="fa fa-eye"></i></a>
            <a class="btn btn-md btn-default btn-edit" data-id="{{KeyId}}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-md btn-default btn-delete" data-id="{{KeyId}}"><i class="fa fa-trash"></i></a>

        </td>
    </tr>
</script>

